<%- include('partials/headerabout') %>


	<!--title area and navbar--->
	<section id="title">
	<div class="container-fluid">
	    <!-- Nav Bar -->
	<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-danger">
	<a class="navbar-brand"> <img class="logo" src="homepage/newlogo.jpg" alt="logo"></a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Togglenavigation">
	<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse  " id="navbarTogglerDemo02">
	<ul class="navbar-nav ml-auto ">
	   <li class="nav-item">
	   <a class="nav-link" href="/">Home</a>
	  </li>
	 <!--- <li class="nav-item">
	   <a class="nav-link" href="#">About us</a>
	  </li>--->
	  <!-- <li class="nav-item">
	   <a class="nav-link" href="#registration">Search Donors</a>
	  </li>
	  <li class="nav-item">
	   <a class="nav-link" href="#registration">Request Blood</a>
	  </li>
	  <li class="nav-item">
	   <a class="nav-link" href="#information">Know us Better</a>
	  </li> -->
	  <li class="nav-item">
	   <a class="nav-link" href="#form">Contact us</a>
	  </li>
	</ul>
	</div>

	</nav>
    </div>
    </section>

<!--top-->
<section id="top">
<div class="inf">
	<center>
<h3> About</h3>
<h2>What we do at Live savers Foundation</h2>
</center>
</div>
</section>

<!-- main info-->
<section id="main-info">
	<div class="about">
		<center>
			<h3> What we do?</h3>
			<p> <center>We help people in saving other's life in blood emergencies. </center><centr>We connect blood donors with people in need of blood.<center></p>
		</center>
	</div>
	<div class="services">
       <div class="row" style="margin-top:5rem">
       <div class="col-sm-6 col-lg-3 offset-sm-3 offset-lg-1">
       	<div class="icon">
        <center>
        <img src="about_us/transfusion.svg" alt="work">
        <h2 style="padding:10px 10px"><strong>Our work</strong></h2>
        <p > <center>We connect blood donors and receipients directly, without any chaos.</center><center>No need of finding blood banks!</center></p>

     </center>
  </div>
       </div>
       <div class="col-sm-6 col-lg-3 offset-sm-3 offset-lg-0">
        <div class="icon">
        <center>
        <img src="about_us/network.svg" alt="network">
        <h2 style="padding:10px 10px"> Our network</h2>
        <center>
        <p> <center>We are a network of more than 100 donors readily available for emergencies.</center>
        <center>No need of finding blood banks!</center></p>

     </center>
  </div>

       </div>
       <div class="col-sm-6 col-lg-3 offset-sm-3 offset-lg-0">
       	  <div class="icon">
        <center>
        <img src="about_us/phone.svg" alt="notification">
        <h2 style="padding:10px 10px"> Get informed</h2>
        <p><center> Get notified when a donor is available.</center>
        <center>
        Automated SMS service helps in keeping track of donors in a hassel free way.</center></p>

     </center>
  </div>
       </div>

       </div>

        <div class="row" style="margin-top:1rem">
       <div class="col-sm-6 col-lg-3 offset-sm-3 offset-lg-1">
       	<div class="icon">
        <center>
        <img src="about_us/access.svg" alt="work">
        <h2 style="padding:10px 10px"><strong>Immediate access to donor </strong></h2>
        <p > <center>Save time and connect to donor immediately.</center><center>Hassel free access to donor's information</center></p>

     </center>
  </div>
       </div>
       <div class="col-sm-6 col-lg-3 offset-sm-3 offset-lg-0">
        <div class="icon">
        <center>
        <img src="about_us/free.svg" alt="network">
        <h2 style="padding:10px 10px"> Free of Cost</h2>
        <center>
        <p> <center>Avail Life Savers services free of cost.</center>
        <center>Our motto is to provide free, fast, efficient and easily acessible help in blood emergencies. </center></p>

     </center>
  </div>

       </div>
       <div class="col-sm-6 col-lg-3 offset-sm-3 offset-lg-0">
       	  <div class="icon">
        <center>
        <img src="about_us/phone.svg" alt="notification">
        <h2 style="padding:10px 10px"> Become a superhero</h2>
        <p><center> Get notified when a donor is available.</center>
        <center>
        Automated SMS service helps in keeping track of donors in a hassel free way.</center></p>

     </center>
  </div>
       </div>

       </div>
	</div>
</section>

<!--process-->
<section id="process">
<div class="procedure">
	<center>
	<h3> How to use our service</h3>
	<h1> The procedure is as simple as saying "Hi"</h1>
</center>
	<div class="column is-3 is-offset-3">
		<div class="box">
		<div class="process-step">1.</div>
		<div class="desc">
			<h3 class="title is-5 has-low-margin">
				<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user-plus"><path d="M16 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="8.5" cy="7" r="4"></circle><line x1="20" y1="8" x2="20" y2="14"></line><line x1="23" y1="11" x2="17" y2="11"></line></svg>
				Register
			</h3>
			<p>Register your account so you can immediately start using Save Life Connect</p>
		</div>
	</div>

        <div class="box">
		<div class="process-step">2.</div>
		<div class="desc">
			<h3 class="title is-5 has-low-margin">
				<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-droplet"><path d="M12 2.69l5.66 5.66a8 8 0 1 1-11.31 0z"></path></svg>
				Request for blood
			</h3>
			<p>Immediately post a request for blood on our website. We will help in locating volunteer blood donors.</p>
		</div>
	</div>

<div class="box">
<div class="process-step">3.</div>
		<div class="desc">
			<h3 class="title is-5 has-low-margin">
				<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-smartphone"><rect x="5" y="2" width="14" height="20" rx="2" ry="2"></rect><line x1="12" y1="18" x2="12" y2="18"></line></svg>
				Get Notified
			</h3>
			<p>Get notified in real time when a donor is found and is available. The whole process is fast and hassel free.</p>
		</div>
	</div>

<div class="box">
<div class="process-step">4.</div>
		<div class="desc">
			<h3 class="title is-5 has-low-margin">
				<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-activity"><polyline points="22 12 18 12 15 21 9 3 6 12 2 12"></polyline></svg>
				Save a life and become a superhero
			</h3>
			<p>Donting a blood or requesting it for someone can help in saving a precious life.</p>
		</div>
	</div>

	</div>

</div>
</section>

<!--- form -->
<section id="form">
<div class="container contact-form">
            <div class="contact-image">
                <img src="https://image.ibb.co/kUagtU/rocket_contact.png" alt="rocket_contact"/>
            </div>
            <form  action="/about" method="POST">
                <h3>Drop Us a Message</h3>

               <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" name="txtName" class="form-control" placeholder="Your Name *" value="" />
                        </div>
                        <div class="form-group">
                            <input type="text" name="txtEmail" class="form-control" placeholder="Your Email *" value="" />
                        </div>
                        <div class="form-group">
                            <input type="text" name="txtPhone" class="form-control" placeholder="Your Phone Number *" value="" />
                        </div>
                        <div class="form-group">
                            <input type="submit" name="btnSubmit" class="btnContact" value="Send Message" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <textarea name="txtMsg" class="form-control" placeholder="Your Message *" style="width: 100%; height: 150px;"></textarea>
                        </div>
                    </div>
                </div>
            </form>
</div>


</section>
<!-- Site footer -->
	<footer class="site-footer">
		<!-- <div class="container">
			<div class="row">
				<div class="col-sm-12 col-md-6">
					<h6>About</h6>
					<p class="text-justify">Scanfcode.com <i>CODE WANTS TO BE SIMPLE </i> is an initiative  to help the upcoming programmers with the code. Scanfcode focuses on providing the most efficient code or snippets as the code wants to be simple. We will help programmers build up concepts in different programming languages that include C, C++, Java, HTML, CSS, Bootstrap, JavaScript, PHP, Android, SQL and Algorithm.</p>
				</div>

				<div class="col-xs-6 col-md-3">
					<h6>Categories</h6>
					<ul class="footer-links">
						<li><a href="http://scanfcode.com/category/c-language/">C</a></li>
						<li><a href="http://scanfcode.com/category/front-end-development/">UI Design</a></li>
						<li><a href="http://scanfcode.com/category/back-end-development/">PHP</a></li>
						<li><a href="http://scanfcode.com/category/java-programming-language/">Java</a></li>
						<li><a href="http://scanfcode.com/category/android/">Android</a></li>
						<li><a href="http://scanfcode.com/category/templates/">Templates</a></li>
					</ul>
				</div>

				<div class="col-xs-6 col-md-3">
					<h6>Quick Links</h6>
					<ul class="footer-links">
						<li><a href="http://scanfcode.com/about/">About Us</a></li>
						<li><a href="http://scanfcode.com/contact/">Contact Us</a></li>
						<li><a href="http://scanfcode.com/contribute-at-scanfcode/">Contribute</a></li>
						<li><a href="http://scanfcode.com/privacy-policy/">Privacy Policy</a></li>
						<li><a href="http://scanfcode.com/sitemap/">Sitemap</a></li>
					</ul>
				</div>
			</div>
			<hr>
		</div> -->
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-sm-6 col-xs-12">
					<p class="copyright-text">Copyright &copy; 2020 All Rights Reserved by
			 <a href="#">Savner</a> YMCA.
					</p>
				</div>

				<div class="col-md-4 col-sm-6 col-xs-12">
				 <!--- <ul class="social-icons">
						<li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
						<li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
						<li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
						<li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
					</ul><--->
				</div>
			</div>
		</div>
</footer>

</body>

</html>
