
<%- include('partials/loginheader') %>
		 <div class="main" >
            
		 	<section class="sign-in">
            <div class="container">
                <div class="signin-content">
                    <div class="signin-image">
                        <figure><img src="register/login.jpg" alt="sing up image"></figure>
                        <a href="/register1" class="signup-image-link">Create an account</a>
                    </div>

                    <div class="signin-form">
                        <h2 class="form-title">Sign In</h2>
                        <form action="/login" method="POST" class="register-form" id="login-form">
							<div class="form-group">
								<label for="email"><img src="register/email.svg" alt="email"></label>
									<input type="email" name="email" id="email" placeholder="Your Email"/>
							</div>
                            <!-- <div class="form-group">
                                <label for="your_name"><img src="register/account.svg" alt="account"></label>
                                <input type="text" name="your_name" id="your_name" placeholder="Your Name"/>
                            </div> -->
                            <div class="form-group">
                                <label for="your_pass"><img src="register/lock.svg" alt="lock"></label>
                                <input type="password" name="your_pass" id="your_pass" placeholder="Password"/>
                            </div>
                            <!-- <div class="form-group">
                                <input type="checkbox" name="remember-me" id="remember-me" class="agree-term" />
                                <label for="remember-me" class="label-agree-term"><span><span></span></span>Remember me</label>
                            </div> -->
                            <div class="form-group form-button">
                            	<input class="btn btn-primary" type="submit" value="Log In">
                               <!-- <input type="submit" name="signin" id="signin" class="form-submit" value="Log in"/>-->
                            </div>

                        <!-- <div class="social-login">
                            <span class="social-label">Or login with</span>
                            <ul class="socials">
                                <li><a href="#" class="fa fa-google"></a></li>

                            </ul>
                        </div> -->
                    </form>
                    </div>
                </div>
            </div>
        </section>
    </div>

    </body>

    </html>
